@inject SignInManager<RemindMeal.Models.User> SignInManager

<ul class="navbar-nav flex-grow-1">
@if (SignInManager.IsSignedIn(User)) {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Recipes/Index">Recettes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Meals/Index">Repas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Friends/Index">Amis</a>
    </li>
}
</ul>