@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur RemindMeal !</h1>
    <p>Cette application web a été développée avec le Framework Asp.Net Core. <a href="https://docs.microsoft.com/aspnet/core">Cliquez ici</a> pour en savoir plus.</p>
</div>
