@page
@model RemindMeal.Pages.Friends.CreateModel

@{
    ViewData["Title"] = "Nouvel invité";
}

<h1>Création d'un nouvel invité</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FriendMV.Name" class="control-label"></label>
                <input asp-for="FriendMV.Name" class="form-control" />
                <span asp-validation-for="FriendMV.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FriendMV.Surname" class="control-label"></label>
                <input asp-for="FriendMV.Surname" class="form-control" />
                <span asp-validation-for="FriendMV.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
