@page
@model RemindMeal.Pages.Tags.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h4>Êtes-vous sûr(e) de vouloir supprimer le tag @Model.Tag.Name ?</h4>
<div>
    <form method="post">
        <input type="hidden" asp-for="Tag.Id" />
        <input type="submit" value="Confirmer" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-success">Retour à la liste</a>
    </form>
</div>
