@page
@model RemindMeal.Pages.Recipes.EditModel
@using RemindMeal.Models

@{
    ViewData["Title"] = "Tag";
}

<h1>Modification de tag</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecipeView.Id" />
            <div class="form-group">
                <label asp-for="RecipeView.Name" class="control-label"></label>
                <input asp-for="RecipeView.Name" class="form-control" />
                <span asp-validation-for="RecipeView.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeView.Description" class="control-label"></label>
                <input asp-for="RecipeView.Description" class="form-control" />
                <span asp-validation-for="RecipeView.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeView.Type" class="control-label"></label>
                <select
                    asp-for="RecipeView.Type"
                    asp-items="Html.GetEnumSelectList<RecipeType>()"
                    class="form-control selectpicker">
                </select>
                <span asp-validation-for="RecipeView.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
                <a asp-page="./Index" class="btn btn-primary">Retour à la liste</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
