@page
@model RemindMeal.Pages.Tags.IndexModel

@{
    ViewData["Title"] = "Tags";
}

<h1>Vos Tags</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Nouveau tag</a>
</p>

<div>
@foreach (var item in Model.Tags)
{
    <div class="btn-group">
        <div class="btn btn-success">
            @Html.DisplayFor(_ => item.Name)
        </div>
        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">X</a>
    </div>
}
</div>