@page
@model LogoutModel
@{
    ViewData["Title"] = "Déconnexion";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Vous vous êtes bien déconnecté(e) de RemindMeal.</p>
    <p>À très bientôt !</p>
</header>