@page
@model RemindMeal.Pages.Meals.CreateModel

@{
    ViewData["Title"] = "Création d'un repas";
}

<h1>Enregistrer un repas</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MealMV.Date" class="control-label"></label>
                <input asp-for="MealMV.Date" class="form-control" />
                <span asp-validation-for="MealMV.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealMV.SelectedFriendIds" class="control-label">Invités</label>
                <select
                    asp-for="MealMV.SelectedFriendIds"
                    asp-items="Model.MealMV.AvailableFriends"
                    class="form-control selectpicker"
                    data-live-search="true">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MealMV.SelectedRecipeIds" class="control-label">Menu</label>
                <select
                    asp-for="MealMV.SelectedRecipeIds"
                    asp-items="Model.MealMV.AvailableRecipes"
                    class="form-control selectpicker"
                    data-live-search="true">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
