@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Mot de passe réinitialisé";
}

<h1>@ViewData["Title"]</h1>
<p>
    Votre mot de passe a bien été réinitialisé. Veuillez <a asp-page="./Login">cliquer ici</a> pour vous connecter.
</p>
